In [13]:
import csv
import pandas as pd
import codecs
import os
import glob

In [54]:
# Making a list directory
files = glob.glob('./datasets/water_tweets/gathered_water/*.csv')
#print(files)

un_h2o_tweets_1 = pd.concat([pd.read_csv(f, encoding = 'ISO-8859-1', delimiter = ';') for f in files])
un_h2o_tweets_1 = un_h2o_tweets_1[['category', 'date', 'text', 'retweet_count', 'tweet_id']]
un_h2o_tweets_1 = un_h2o_tweets_1[un_h2o_tweets_1['text'] != 'text']
un_h2o_tweets_1 = un_h2o_tweets_1.drop_duplicates(subset = ['text'], keep = 'first').reset_index()
un_h2o_tweets_1 = un_h2o_tweets_1.iloc[:, 1:]
un_h2o_tweets_1.columns = ['category', 'date', 'tweet', 'retweet_count', 'tweet_id']
print(len(un_h2o_tweets_1))

un_h2o_tweets_1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

59197

,category,date,tweet,retweet_count,tweet_id
0,coal ash water,6/26/2019 3:22,*@noahcicero *@DaisyFried Coal ash ponds are t...,0,1.140000e+18
1,coal ash water,6/25/2019 15:30,"""NC wants to find the source of water contamin...",0,1.140000e+18
2,coal ash water,6/25/2019 14:43,*@atrupar Making great progress?\n you're doin...,0,1.140000e+18
3,coal ash water,6/25/2019 9:36,"As if we needed more reasons to ditch coal, it...",0,1.140000e+18
4,coal ash water,6/25/2019 0:42,*@shossy2 *@RodneyClaeys W/ Obama's restrictio...,0,1.140000e+18

In [55]:
print(un_h2o_tweets_1.tweet[1])

"NC wants to find the source of water contaminants near the Chatham coal ash landfill" #ncpol https://t.co/cAQN72okYW

In [56]:
un_h2o_tweets_1.to_csv(r'datasets\water_tweets\unique_water.csv', sep = ';')

## Checking amounts by category

In [60]:
by_key = un_h2o_tweets_1.groupby('category').count().reset_index()
by_key.iloc[:, 0:2]

                        category  date
0                    #algaebloom    30
1                 #chemicalspill     1
2    #drinkingwatercontamination     2
3                       #drought   789
4                         #ecoli   104
5                    #flashflood   509
6      #groundwatercontamination     4
7           #industrialpollution     3
8                      #oilspill   123
9                      #pipeleak     1
10                   #wastewater   665
11           #waterandsanitation     7
12           #watercontamination    17
13              #watermanagement   365
14               #waterpollution   216
15                   algae bloom  1279
16                       benzene   868
17                chemical spill   644
18                coal ash water   188
19                drinking water  3883
20  drinking water contamination   140
21                       drought  8132
22                      dry well  5533
23                        e-coli   726
24                         ecoli  1146
25                   flash flood  4667
26     groundwater contamination   235
27         groundwater pollution   161
28          industrial pollution   966
29           industrial solvents    24
30            lake contamination    59
31                lake pollution   678
32                    lead water  4432
33      marine plastic pollution   244
34               metal hydroxide     6
35                     oil spill  2204
36                           pcb   993
37                     pipe leak   518
38           river contamination    43
39          stream contamination    53
40             toxic waste water   337
41               untreated waste    83
42                   waste spill   221
43                   waste water  3008
44          water and sanitation  2268
45           water contamination  1676
46                water impurity    42
47              water management  4246
48                 water plastic   903
49               water pollution  4578
50                  water sewage  1175
51           waterbourne disease     2