# Working on Extraction of Zip Files and JSON Files

In [123]:
import tensorflow as tf
import numpy as np
import pandas as pd
import nltk
import textblob

from six.moves import urllib

import errno
import os
import zipfile

def reset_graph(seed=42):
    tf.reset_default_graph()
    tf.set_random_seed(seed)
    np.random.seed(seed)

## Twitter Samples
Not super useful as they are UK 2015 Election related.

In [124]:
from nltk.corpus import twitter_samples
twitter_samples.fileids()

['negative_tweets.json', 'positive_tweets.json', 'tweets.20150430-223406.json']

In [125]:
twitter_samples.strings()[:5]

['hopeless for tmr :(',
 "Everything in the kids section of IKEA is so cute. Shame I'm nearly 19 in 2 months :(",
 '@Hegelbon That heart sliding into the waste basket. :(',
 '“@ketchBurning: I hate Japanese call him "bani" :( :(”\n\nMe too',
 'Dang starting next week I have "work" :(']

In [126]:
tweets = twitter_samples.tokenized()
tweet_dict = []
for i in range(len(tweets)):
    for j in range(len(tweets[i])):
        tweet_dict.append(tweets[i][j])


print(tweet_dict[:10])

['hopeless', 'for', 'tmr', ':(', 'Everything', 'in', 'the', 'kids', 'section', 'of']

In [127]:
print(len(twitter_samples.strings()))

30000

In [132]:
scraped_tweets = pd.read_csv('datasets/water_tweets/un_gathered_h2o_tweets.csv', encoding = 'ISO-8859-1', delimiter = ';')
scraped_tweets = scraped_tweets.iloc[:, 1:]
scraped_tweets.head()

,tweet_id,tweet,time_stamp,retweets
0,1.140000e+18,@LeslieWalden6 @MookieTheBrave @AngusMcPussPus...,6/25/2019 20:45,0
1,1.140000e+18,4 PASSES to FLASH FLOOD WATER PARK in Battle C...,6/25/2019 20:28,0
2,1.140000e+18,So the maintenance men at my apartment complex...,6/25/2019 20:21,0
3,1.140000e+18,".@NWStulsa issued 1,530 flood/flash flood prod...",6/25/2019 20:07,0
4,1.140000e+18,"They might not call it a #climatedebate, but c...",6/25/2019 19:55,0

In [133]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\debro\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [134]:
tweet_text = np.array(scraped_tweets.tweet.astype(str))

tweet_list = []
for i in range(len(tweet_text)):
    tweet = tweet_text[i]
    tweet_list.append(tweet)
tweet_list[:5]

["@LeslieWalden6 @MookieTheBrave @AngusMcPussPuss @AngelaStillwell @cat_samson @arkantart @Biscuit_Meow @duchess_meow @TobiasandJasper @goodman_carina It's cwazy!! Mom tiwed of seeing flash flood warnings fwom The Weather Channel pop up on her phone evewyday. She appweciates the warning, but she knows which aweas are pwone to flooding.Ã°Â\x9fÂ\x98Â¼Ã°Â\x9fÂ\x98Â¼",
 '4 PASSES to FLASH FLOOD WATER PARK in Battle Creek, MICHIGAN - 2019 season!!! $12.00 | #WaterparkTickets | https://t.co/tIumVg5T0d Grab Your Tickets https://t.co/UQNz5zZ7vC',
 'So the maintenance men at my apartment complex are leaf blowing during a flash flood warning... https://t.co/YkWkVzTvSy',
 '.@NWStulsa issued 1,530 flood/flash flood products in May 2019 alone!  Includes new warnings/advisories + all follow up statements #okwx #arwx https://t.co/3M9GfJyuez',
 'They might not call it a #climatedebate, but considering that the venue where 20 Democrats are meeting in Miami this week was once inundated during a flash flood, it kinda is. https://t.co/xlZ66jHMXr']

In [135]:
from textblob import TextBlob
tweets = np.array(tweet_list)
tweet_list = []
for t in range(len(tweets)):
    new = TextBlob(tweets[t])
    tweet_list.append(new)

In [136]:
rel_h2o_words = []
for i in range(len(tweet_list)):
    tweet_i = tweet_list[i]
    new_words = tweet_i.words
    rel_h2o_words.append(new_words)
    
print(len(rel_h2o_words))

48121

In [137]:
tweet_words = np.array(tweet_dict)

In [138]:
from itertools import chain
rel_h2o_words = np.array(list(chain(*rel_h2o_words)))

In [139]:
new_dict = np.concatenate([tweet_words, rel_h2o_words])

In [140]:
print(len(new_dict))

2387635

In [141]:
unique_dict = np.unique(new_dict)
print(len(unique_dict))

186908